:root {
	--clr-red: hsl(7, 99%, 70%);
	--clr-yellow: hsl(51, 100%, 49%);
	--clr-cyan-graphic: hsl(167, 40%, 24%);
	--clr-cyan-footer: hsl(198, 62%, 26%);
	--clr-blue-photography: hsl(198, 62%, 26%);
	--clr-blue-des: hsl(212, 27%, 19%);
	--clr-blue-grayish-1: hsl(210, 4%, 67%);
	--clr-blue-grayish-2: hsl(232, 10%, 55%);
	--clr-blue-grayish-3: hsl(213, 9%, 39%);
	--clr-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Barlow, sans-serif;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

header {
	background: url('./images/mobile/image-header.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem 1rem;
	height: 70vh;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hamburger {
	background: transparent;
	border: none;
	cursor: pointer;
}

.nav-header {
	display: none;
}

.hero-text {
	text-transform: uppercase;
	color: var(--clr-white);
	text-align: center;
	font-size: 1.5rem;
	font-weight: 900;
	font-family: Fraunces, serif;
	letter-spacing: .1em;
}

.feature-content {
	display: grid;
	gap: 1rem;
	padding: 2rem;
	text-align: center;
}

.feature-content--heading,
.feature-content--link {
	font-family: Fraunces, serif;
	font-weight: 900;
	color: var(--clr-blue-des);
}

.feature-content--para {
	color: var(--clr-blue-grayish-2);
	font-weight: 600;
}

.link-yellow,
.link-red {
	position: relative;
}

.link-yellow::before,
.link-red::before {
	position: absolute;
	content: '';
	bottom: -10%;
	top: 60%;
	left: 20%;
	right: 20%;
	z-index: -1;
	border-radius: 20% 40%;
	opacity: 30%;
}

.link-red::before {
	background-color: var(--clr-red);
}

.link-yellow::before {
	background-color: var(--clr-yellow);
}
