@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
	--clr-red: hsl(7, 99%, 70%);
	--clr-yellow: hsl(51, 100%, 49%);
	--clr-cyan-graphic: hsl(167, 40%, 24%);
	--clr-cyan-footer-bg: hsl(168, 34%, 65%);
	--clr-cyan-footer: hsl(168, 34%, 36%);
	--clr-blue-photography: hsl(198, 62%, 26%);
	--clr-blue-des: hsl(212, 27%, 19%);
	--clr-blue-grayish-1: hsl(210, 4%, 67%);
	--clr-blue-grayish-2: hsl(232, 10%, 55%);
	--clr-blue-grayish-3: hsl(213, 9%, 39%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Barlow, sans-serif;
	font-weight: 600;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
.feature-content--link,
.testimonial-profile--name {
	font-family: Fraunces, serif;
	font-weight: 900;
}

/* Header */

header {
	background: url('./images/mobile/image-header.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem 1rem;
	height: 90vh;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

header,
header button {
	color: #fff;
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hamburger {
	background: transparent;
	border: none;
	cursor: pointer;
}

.nav-header {
	display: none;
}

.nav-header .nav-links li:last-child {
	background-color: #fff;
	color: var(--clr-blue-des);
	padding: 1em 2em;
	border-radius: 20%/50%;
	font-family: Fraunces, serif;
	font-weight: 900;
	text-transform: uppercase;
	font-size: .7rem;
}

.hero-text {
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 900;
	font-family: Fraunces, serif;
	letter-spacing: .1em;
	position: relative;
}

.hero-text::after {
	position: absolute;
	content: '';
	background: url(./images/icon-arrow-down.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	top: 5rem;
	bottom: -11rem;
	left: 0;
	right: 0;

}

/* Feature*/

.feature-content {
	display: grid;
	gap: clamp(2rem, 5vw - 2em, 7rem);
	padding: clamp(2rem, 5vw + 1em, 7rem);
	text-align: center;
}

.feature-content--heading {
	font-size: clamp(2rem, 5vw - 1em, 3rem);
}

.feature-content--link {
	text-transform: uppercase;
}

.feature-content--heading,
.feature-content--link {
	font-weight: 900;
	color: var(--clr-blue-des);
}

.feature-content--para {
	color: var(--clr-blue-grayish-2);
	max-width: 40ch;
}

.link-yellow,
.link-red {
	position: relative;
}

.link-yellow::before,
.link-red::before {
	position: absolute;
	content: '';
	z-index: -1;
	border-radius: 7%/60%;
	opacity: 30%;
	height: 0.4em;
	width: 8em;
	transform: translateX(-0.4em) translateY(200%);
}

.link-red::before {
	background-color: var(--clr-red);
}

.link-yellow::before {
	background-color: var(--clr-yellow);
}

/* Service */

.service {
	height: 90vh;
	width: 100%;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 2rem;
	padding: 2rem 1rem;
	text-align: center;
	text-transform: capitalize;
}

.service-paragraph {
	max-width: 40ch;
}

.service--graphic {
	background-image: url(./images/mobile/image-graphic-design.jpg);
	color: var(--clr-cyan-graphic);
}

.service--photography {
	background-image: url(./images/mobile/image-photography.jpg);
	color: var(--clr-blue-photography);
}

/* Testimonial */

.testimonials {
	margin: 3rem auto;
	padding: clamp(2rem, 5vw + 1em, 4rem);
}

.testimonials-header {
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem;
	color: var(--clr-blue-grayish-1);
}

.testimonial {
	margin-top: 3rem;
	display: grid;
	place-items: center;
	gap: 1.5rem;
	text-align: center;
}

.testimonial-image { 
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
}

.testimonial-body {
	color: var(--clr-blue-grayish-3);
	max-width: 40ch;
}

.testimonial-profile--name {
	color: var(--clr-blue-des);
}

.testominal-profile--designation {
	color: var(--clr-blue-grayish-1);
}

/* Gallery */

.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* Footer */
footer {
	background: var(--clr-cyan-footer-bg);
	padding: 3rem 2rem;
	text-align: center;
	display: grid;
	place-items: center;
	gap: 2rem;
}

footer,
footer .hamburger {
	color: var(--clr-cyan-footer);
}

.nav-links {
	display: flex;
	justify-content: space-around;
	gap: 2em;
}

.socials {
	display: flex;
	justify-content: space-around;
	margin-top: 2rem;
	gap: 2em;
}

@media(min-width: 600px) {
	header {
		background: url('./images/desktop/image-header.jpg');
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 2rem 1.5em;
		height: 100vh;
	}

	.hamburger {
		display: none;
	}

	.nav-header {
		display: block;
	}

	.nav-header > ul {
		display: flex;
		gap: 1.4rem;
		align-items: center;
		transform: translateY(-10%);
	}

	.feature {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: dense;
	}

	.feature-image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		max-width: 50vw;
	}
	
	.feature-reverse .feature-image {
		grid-column-start: 2;
	}

	.feature-reverse .feature-content {
		grid-column-start: 1;
	}

	.feature-content {
		text-align: left;
	}

	.feature-content--para {
		font-size: 1.2em;
	}

	.testimonials-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.testimonial {
		flex-grow: 1;
	}

	.service {
		background-position: center;
	}

	.gallery {
		display: grid;
		grid-template-columns: repeat(4,1fr)
	}
}

@media(min-width: 400px) {
	.services {
		display: flex;
	}

	.service {
		max-width: 50%;
	}
}
