@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
	--clr-red: hsl(7, 99%, 70%);
	--clr-yellow: hsl(51, 100%, 49%);
	--clr-cyan-graphic: hsl(167, 40%, 24%);
	--clr-cyan-footer-bg: hsl(168, 34%, 65%);
	--clr-cyan-footer: hsl(168, 34%, 36%);
	--clr-blue-photography: hsl(198, 62%, 26%);
	--clr-blue-des: hsl(212, 27%, 19%);
	--clr-blue-grayish-1: hsl(210, 4%, 67%);
	--clr-blue-grayish-2: hsl(232, 10%, 55%);
	--clr-blue-grayish-3: hsl(213, 9%, 39%);
	--clr-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Barlow, sans-serif;
	font-weight: 600;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
.feature-content--link,
.testimonial-profile--name {
	font-family: Fraunces, serif;
	font-weight: 900;
}

/* Header */

header {
	background: url('./images/mobile/image-header.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem 1rem;
	height: 70vh;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

header,
header button {
	color: var(--clr-white);
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hamburger {
	background: transparent;
	border: none;
	cursor: pointer;
}

.nav-header {
	display: none;
}

.hero-text {
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 900;
	font-family: Fraunces, serif;
	letter-spacing: .1em;
}

/* Feature*/

.feature-content {
	display: grid;
	gap: 1rem;
	padding: 2rem;
	text-align: center;
}

.feature-content--heading,
.feature-content--link {
	font-weight: 900;
	color: var(--clr-blue-des);
}

.feature-content--para {
	color: var(--clr-blue-grayish-2);
}

.link-yellow,
.link-red {
	position: relative;
}

.link-yellow::before,
.link-red::before {
	position: absolute;
	content: '';
	bottom: -10%;
	top: 60%;
	left: 20%;
	right: 20%;
	z-index: -1;
	border-radius: 20% 40%;
	opacity: 30%;
}

.link-red::before {
	background-color: var(--clr-red);
}

.link-yellow::before {
	background-color: var(--clr-yellow);
}

/* Service */

.services {
	margin-top: 1rem;
}
.service {
	height: 90vh;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 2rem;
	padding: 2rem 1rem;
	text-align: center;
	text-transform: capitalize;
}

.service--graphic {
	background-image: url(./images/mobile/image-graphic-design.jpg);
	color: var(--clr-cyan-graphic);
}

.service--photography {
	background-image: url(./images/mobile/image-photography.jpg);
	color: var(--clr-blue-photography);
}

/* Testimonial */

.testimonials {
	margin: 3rem auto;
	padding: 0 2rem;
}

.testimonials-header {
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem;
	color: var(--clr-blue-grayish-1);
}

.testimonial {
	margin-top: 3rem;
	display: grid;
	place-items: center;
	gap: 1.5rem;
	text-align: center;
}

.testimonial-image { 
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
}

.testimonial-body {
	color: var(--clr-blue-grayish-3);
}

.testimonial-profile--name {
	color: var(--clr-blue-des);
}

.testominal-profile--designation {
	color: var(--clr-blue-grayish-1);
}

/* Gallery */

.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* Footer */
footer {
	background: var(--clr-cyan-footer-bg);
	padding: 3rem 2rem;
	text-align: center;
	display: grid;
	gap: 2rem;
}

footer,
footer .hamburger {
	color: var(--clr-cyan-footer);
}

.footer-header {
	displpadding:
}

.nav-footer > .nav-links {
	display: flex;
	justify-content: space-around;
}

.socials {
	display: flex;
	justify-content: space-around;
	margin-top: 2rem;
}
